@font-face {
  font-family: 'Gilroy';
  font-weight: 300;
  src: url('/fonts/Gilroy-Light.otf');
}
@font-face {
  font-family: 'Gilroy';
  font-weight: 900;
  src: url('/fonts/Gilroy-ExtraBold.otf');
}
